{
  "rabbitmq": {
    "host": "{{ salt['network.ip_addrs']('eth0')[0] }}",
    "port": 5672,
    "user": "sensu",
    "password": "sensu",
    "vhost": "/sensu"
  },
  "redis": {
    "host": "{{ salt['network.ip_addrs']('eth0')[0] }}",
    "port": 6379
  },
  "api": {
    "host": "{{ salt['network.ip_addrs']('eth0')[0] }}",
    "port": 4567
  },
  "dashboard": {
    "port": 8080,
    "user": "admin",
    "password": "secret"
  },
  "handlers": {
    "default": {
      "type": "set",
      "handlers": [
        "stdout"
      ]
    },
    "stdout": {
      "type": "pipe",
      "command": "cat"
    }
  }
}

